# The different scientific protocols
010; Prepare Seated; PrepareSeated.pcl
100; Visual-Visual Seated; V-Vseated.pcl
200; Visual-Manual Seated; V-Kseated.pcl
300; Manual-Manual Seated; K-Kseated.pcl
020; Prepare Floating; PrepareFloating.pcl
400; Visual-Visual Quasi-Freefloating; V-Vfloating.pcl
500; Visual-Manual Quasi-Freefloating; V-Kfloating.pcl
600; Manual-Manual Quasi-Freefloating; K-Kfloating.pcl
030; Data Transfer; DataTransfer.pcl