# The different scientific protocols
101; Visual-Visual::Seated; V-Vseated.pcl
102; Visual-Kinesthetic::Seated; V-Kseated.pcl
103; Kinesthetic-Kinesthetic::Seated; K-Kseated.pcl
104; Visual-Visual::Quasi-Freefloating; V-Vfloating.pcl
105; Visual-Kinesthetic::Quasi-Freefloating; V-Kfloating.pcl
106; Kinesthetic-Kinesthetic::Quasi-Freefloating; K-Kfloating.pcl
