# The different scientific protocols
100; Visual-Visual::Seated; V-Vseated.pcl
200; Visual-Kinesthetic::Seated; V-Kseated.pcl
300; Kinesthetic-Kinesthetic::Seated; K-Kseated.pcl
400; Visual-Visual::Quasi-Freefloating; V-Vfloating.pcl
500; Visual-Kinesthetic::Quasi-Freefloating; V-Kfloating.pcl
600; Kinesthetic-Kinesthetic::Quasi-Freefloating; K-Kfloating.pcl
